<div class="px-2 pb-4 d-flex flex-column gap-4">

   <p>page: {{ page() + 1 }}/{{ totalPage() }}</p>

   <div class="d-flex flex-row gap-4 align-items-center ">
      <nav aria-label="Page navigation example">
         <ul class="pagination m-0">
         <li class="page-item cursor-pointer" [ngClass]="{disabled: isFirstPage()}">
            <span class="page-link" (click)="firstPage()">First</span>
         </li>
         <li class="page-item cursor-pointer" [ngClass]="{disabled: isFirstPage()}">
            <span class="page-link" (click)="previousPage()">Previous</span>
         </li>
         <li class="page-item cursor-pointer" [ngClass]="{disabled: isLastPage()}">
            <span class="page-link" (click)="nextPage()">Next</span>
         </li>
         <li class="page-item cursor-pointer" [ngClass]="{disabled: isLastPage()}">
            <span class="page-link" (click)="lastPage()">Last</span>
         </li>
         </ul>
      </nav>

      <select class="form-select" (change)="changePageSize($event)">
         <option *ngFor="let pageSize of optionPageSize" [value]="pageSize"
               [selected]="pageSize == selectedPageSize()"> {{ pageSize }}
         </option>
      </select>
   </div>
   <ul class="list-group">
      @for (power of (listPower | slice: firstElement() : lastElement());track power.id) {
         <li class="list-group-item cursor-pointer" [routerLink]="['/', 'powers', power.id, 'edit']">
         <div class="ms-2 me-auto">
            <div class="fw-bold">{{ power.name }}</div>
            {{ power.description }}
         </div>
         </li>
      } @empty {
         <span> no super hero </span>
      }
   </ul>
   <button class="btn btn-primary float-end" [routerLink]="['/', 'powers', 'add']">Ajouter</button>
</div>
