<div *ngIf="powerUpdated" class="container mt-5">
   <h2 class="text-center mb-4">{{ id ? "pouvoir numéro " + id : "Créer un pouvoir"}}</h2>
   <form (ngSubmit)="id ? updatePower() : createPower()">
      <div class="mb-3">
         <label for="inputName" class="form-label">Nom :</label>
         <input type="text" class="form-control" id="inputName" [(ngModel)]="powerUpdated.name" name="name">
      </div>
      <div class="mb-3">
         <label for="inputDescription" class="form-label">Description :</label>
         <input type="text" class="form-control" id="inputDescription" [(ngModel)]="powerUpdated.description" name="description">
      </div>
      <button type="submit" class="btn btn-primary float-end" [disabled]="!powerUpdated.name || !powerUpdated.description || (power && powerUpdated.name + powerUpdated.description === power.name + power.description)">Enregistrer</button>
   </form>
</div>
